<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Activate your Notification Signal Account</title>
</head>
<body>
    <main>
        Dear {{ username }},
        <br><br>
        <p>Please activate you account by clicking the link!</p>
        <br><br>
        <!-- Will eventually remove the /api/auth/ part of the url to go to the site.-->
        <a href="{{ host }}/api/auth/verify-account?email={{ email }}&token={{ token }}" target="_blank">Verify Account</a>
        <br><br>
        <br><br>
        <p>Please activate you account by clicking the link!</p>
        <br><br>
        <code>© Notification Signal 2021</code>
    </main>
    <style>
        form input {
            padding: 10px;
        }
    </style>
</body>
</html>