NODE_ENV=development
PUBLIC_URL='http://localhost:5005/'

# NODE PROCESS PORT
PORT=5005

# Database
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=notification-signals
DATABASE_HOST=
DATABASE_PORT=

# JWT token secret
TOKEN_SECRET=

# MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=


###
### Services
###

# Discord Service
DISCORD_TOKEN=
DISCORD_CLIENT_ID=